#exercise-type-holder{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.page-content{
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.exercise-type{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	width: 35rem;
	height: 5rem;
	border: 1px solid black;
}

.practice-page-holder{
	/*width: 100vw;*/
	display: flex;
	justify-content: center;
}

.practice-holder{
	width: fit-content;
	height: 100%;
}


.practice-item{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.word-input{
	margin-left:1rem;
}

.red-outline{
	border-color: red;
}

.exercise-form{
	padding: 2rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 15rem;
	width: 20rem;
	border: 1px solid black;
	border-radius: 15px;
}

input, label, span .exercise-form{
	font-size: 1rem;
}


#close-form{
	background-color: crimson; 
	color: white; 
	width: 1.5rem; 
	height: 1.5rem;
	font-size: 0.8rem; 
	border-radius: 4px; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	align-self: flex-end;
}

#close-form:hover{
	background-color: #b30e2f;
	cursor: pointer;
}

.cursor:hover{
	cursor: pointer;
}

.hide{
	display: none;
}
